.light {
  color: #6f6f6f;
  background-color: whitesmoke;
}

.dark {
  color: whitesmoke;
  background-color: #191919;
  border: 1px solid whitesmoke;
}

.universal-footer-wrapper > p > a,
.universal-footer-wrapper > p > a:-webkit-any-link,
.universal-footer-wrapper > div > p > a,
.universal-footer-wrapper > div > p > a:-webkit-any-link{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.universal-footer-wrapper.light > p > a,
.universal-footer-wrapper.light > p > a:-webkit-any-link,
.universal-footer-wrapper.light > div > p > a,
.universal-footer-wrapper.light > div > p > a:-webkit-any-link {
  color: #6f6f6f;
}

.universal-footer-wrapper.dark > p > a,
.universal-footer-wrapper.dark > p > a:-webkit-any-link,
.universal-footer-wrapper.dark > div > p > a,
.universal-footer-wrapper.dark > div > p > a:-webkit-any-link {
  color: whitesmoke;
}


.bottomleft {
  bottom: 0;
  left: 0;
  margin: 8px;
}
.bottomright {
  bottom: 0;
  right: 0;
  margin: 8px;
}
.topleft {
  top: 0;
  left: 0;
  margin: 8px;
}
.topright {
  top: 0;
  right: 0;
  margin: 8px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.universal-footer-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.universal-footer-text.light {
  color: #6f6f6f;
}

.universal-footer-text.dark {
  color: #191919;
}

.universal-footer-center {
  text-align: center;
}
.universal-footer-start {
  text-align: left;
}
.universal-footer-wrapper {
  width: fit-content;
  height: fit-content;
  max-width: 272px;
  padding: 4px 8px;
  box-shadow: 0px 0px 6.48px -2.16px rgba(0, 0, 0, 0.2),
  0px 2.16px 2.5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.universal-footer-opaque {
  opacity: 0.2;
}
.universal-footer-none {
  display: none;
}
.universal-footer-block {
  display: block;
}
